
{% extends "admin_base.html" %}
{% from "macros/_pagination.html" import pagination %}
{% from "components/_list_table.html" import list_table %}

{% block admin_title %}猫咪管理{% endblock %}

{% block admin_toolbar %}
<div class="btn-group me-2">
    <a href="{{ url_for('admin.admin_cats_create') }}" class="btn btn-sm btn-primary">
        <i class="bi bi-plus-circle"></i> 添加猫咪
    </a>
</div>
{% endblock %}

{% block admin_content %}
{% set headers = ['ID', '照片', '名字', '品种', '年龄', '状态'] %}
{% set fields = ['id', 'images', 'name', 'breed', 'age', 'is_adopted'] %}

{{ list_table(
    headers=headers,
    fields=fields,
    items=cats.items,
    edit_url='admin.admin_cats_edit',
    delete_url='admin.admin_cats_delete'
) }}

{{ pagination(cats, 'admin.admin_cats_list') }}
{% endblock %}
